    .nav{
    background-color:grey;
    color: white;
}
        a:hover {
            background-color: grey;
        }
img {
    width: 50%;
    padding: 20px;
    height: inherit;
    
    }

html {background-attachment:fixed;
<--background-color:rgb(244, 215, 66);
    background-image:url(porque%20image.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.title{
    font-size:3em;
    text-align: center;
    padding-top: 20px;
    color: black;
}

body {margin:0;}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;  
}
a:hover {
    background-color: black;
}
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}
.enttit{    
    text-align: justify;
    padding-left:25px;
    color: black;
    font-size: 1.5em;
    font-weight: 800;
}
.par{
    font-size: 1em;
    padding: 10px;
}
.entry{
    background-color:white;
    box-shadow: 5px 5px 2.5px black;
    color: black;
    padding: 20px;
}
.subtit{
    text-align: center;
    font-size: 2em;
    color:black;
    
}
.subtext{
    font-size: 1.25em;
    padding: 5px;
    font-weight: 400;
}
.role{
    font-size: 1.5em;
    font-weight: 200;
}